<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FleetDb"
			 connectionString="Server=LASSE-YOGA\SQLEXPRESS;Database=FleetDb;Trusted_Connection=True;Encrypt=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>
